<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>사진 파일 전송</h1>
<hr>
<form>
    <input type="text" id="username"> <br>
    <input type="file" id="img" > <br>
    <button type="button">전송</button>
</form>

<script>
    let d = ()=>{
    };
    d();
    let imgInput = document.querySelector("#img");
    imgInput.addEventListener("change", (e)=>{
        let file = imgInput.files[0];
        console.log("file", file);
        let reader = new FileReader();
        reader.onload = ()=>{
            let username = document.querySelector("#username").value;
            let base64String = reader.result; // Base64 데이터만 추출
            //console.log('Base64:', base64String); // 콘솔 출력
            myUpload(username, base64String);
        }
        reader.readAsDataURL(file);
    });
    async function myUpload(username, img){
        let user = {
            username: username,
            img: img
        };
        let requestBody = JSON.stringify(user);
        console.log(requestBody);
        let response = await fetch("/v2/upload", {
            method: "post",
            body: requestBody,
            headers: {
                "Content-Type":"application/json; charset=utf-8"
            }
        });
        let responseBody = await response.json();
        if(responseBody.success){
            location.href="/";
        }
    }
</script>
</body>
</html>